    

  

  <div class="modal-body">                                              
    <div class="container-fluid">
      <%= form_for (@expense), remote: true do |f|   %>
       
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.label 'Type', for: 'sel1' %>
                <%= f.select :type_id ,options_for_select(@types.collect{|c| [c.name, c.id ]}, :selected => @expense.type.id),{},{:class => 'form-control'}%>
            </div>
            <div class="form-group col-md-6">
               <%= f.label 'Date' %>
              <%= f.text_field :date, class: 'form-control' , value: @expense.new_record? ? Date.today : @expense.date  %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'Concept' %>
            <%= f.text_field :concept, class: 'form-control'%>
          </div>
       
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.label 'Category', for: 'sel2' %>
                  <%= f.select :categorye_id ,options_for_select(@categories.collect{|c| [c.name, c.id ]}, :selected => @expense.categorye.id), {} ,{:class => 'form-control'}%>
            </div>
            <div class="form-group col-md-6">
                <%= f.label 'Amount' %>
                <%= f.text_field :amount, class: 'form-control'%>
            </div>
          </div>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <%= f.submit @expense.new_record? ? "New Expense" : "Edit expense", class:'btn btn-primary boton-login' %>
          </div>
      <% end %>                               
    </div>
  </div>
