
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type1">
      <% @types.each do |t| %>
    
        <div class="list-group-item" id=<%= t.id %>><%= t.name %></div>
      <% end %>
        <!-- more transaction types -->
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type2">
         <% @categories.each do |t| %>
    
       
               <div class="list-group-item" id=<%= t.id %>> <%= t.name %> </div>
      <% end %>
        <!-- more categories  -->
      </div>
    </div>
    <div class="col-md-9 index-data flash">
     
      <div class="row index" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= Money.new(@dates['total'].to_i*100, "USD").format(:no_cents =>true ) %></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= @dates['transactions'] %></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= Money.new(@dates['average'].to_i*100, "USD").format(:no_cents =>true ) %></div>
          <div class="summary-label">Average</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
                <%= link_to new_expense_path , remote: true , :class => "btn btn-success pull-left"  do %>
              <span class="glyphicon glyphicon-plus"></span>
              New Expense
               <% end %>


                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                           
                          </div>
                        </div>
                      </div>
        
          <h4 class="dropdown pull-right">
            <button id="date-selector" type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown"><%= Date.today.strftime('%b-%Y') %> <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
             
              <% @months.each do |m| %>
             <li id=<%= m.strftime('%b-%Y') %> role="presentation"><div><%= m.strftime('%b-%Y') %></div></li>
            <% end %>
              <!-- more months -->
            </ul>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
         <% @expenses.each do |t| %>
           <tr>
            <td class="date">
              <div class="day"><%= t.date.mday %></div>
              <div class="month"><%= t.date.strftime('%b') %></div>
            </td>
            <td>
              <div>
              
                <span class="type"><%= t.type.name %></span>
              </div>
              <div>
                <span class="concept"><%= t.concept %></span>
              </div>
            </td>
             
            <td class="category text-right"><%= t.categorye.name %></td>
            <td class="text-right" style="width: 170px;">
              <div class="amount"><%= Money.new(t.amount*100, "USD").format(:no_cents => true) %></div>
              <div class="actions">
                <%= link_to edit_expense_path(t), remote: true  do  %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
                <% end %>
                 <%= link_to t, method: :delete, data: {confirm: "Are you sure!"},  remote: true  do  %>
                <span class="glyphicon glyphicon-edit"></span>
                Delete
                <% end %>
              </div>
            </td>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>


</div>

